.Rproj.user
.Rhistory
.RData
.Ruserdata
lamenessgame_MS.docx
inputs
outputs
osf_test/src/run_wholepipeline.R
osf_test/src/gamescores_analysis.R
osf_test/src/3_analysegamescores.R
osf_test/src/2_wrangledata.R
osf_test/src/1_downloaddata.R
osf_test/outputs/processed_data/symptomslookedfor_df.csv
osf_test/outputs/processed_data/symptomslookedfor_byfarmingexp_sum.RDS
osf_test/outputs/processed_data/studydata_formatted.RDS
osf_test/outputs/processed_data/studydata_formatted.csv
osf_test/outputs/processed_data/likertdata_formatted.RDS
osf_test/outputs/processed_data/likertdata_formatted.csv
osf_test/outputs/models/userengagement_model.RDS
osf_test/outputs/models/userengagement_adjp.RDS
osf_test/outputs/models/symptomsVSfarmingexp_chisq.RDS
osf_test/outputs/models/symptom_unevenposture_model.RDS
osf_test/outputs/models/symptom_unevenposture_adjp.RDS
osf_test/outputs/models/symptom_raisedleg_model.RDS
osf_test/outputs/models/symptom_raisedleg_adjp.RDS
osf_test/outputs/models/symptom_raised_adjp.RDS
osf_test/outputs/models/symptom_limp_model.RDS
osf_test/outputs/models/symptom_limp_adjp.RDS
osf_test/outputs/models/power_analysis.RDS
osf_test/outputs/models/farmingexperience_model.RDS
osf_test/outputs/figures/UE.tiff
osf_test/outputs/figures/symptoms.tiff
osf_test/outputs/figures/likertplot.tiff
osf_test/outputs/figures/game_screenshots_v2.jpg
osf_test/outputs/figures/game_screenshots.png
osf_test/outputs/figures/game-evolution_v3.png
osf_test/outputs/figures/farmingexperience.tiff
osf_test/outputs/figures/budget.csv
osf_test/outputs/figures/balloonplot.tiff
osf_test/outputs/figures/accuracyvsrecall.tiff
osf_test/inputs/newcolnames.RDS
osf_test/inputs/lamenessstudydata_010721.xlsx
